[Unit]
Description=Prometheus Linux Node Exporter
Documentation=https://github.com/prometheus/node_exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple

User=node_exporter
Group=node_exporter
ExecStart=/usr/bin/node_exporter --web.listen-address=:9100 --collector.systemd --collector.ntp --collector.processes

Restart=on-failure

[Install]
WantedBy=multi-user.target
